<div class="profile-footer">
  <details class="profile-visitor">
    <summary>Visitor map <span aria-hidden="true">&rsaquo;</span></summary>
    <div class="profile-visitor__map">
      <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?cl=7695e0&amp;w=220&amp;t=tt&amp;d=a-s-f7WD6T0sgjHzS7HbV8fz6wBhStIW8Cb6-uoFB2M&amp;co=ffffff&amp;cmo=3acc3a&amp;cmn=ff5353&amp;ct=808080"></script>
      <noscript><a href="https://mapmyvisitors.com/web/1c2tl">View visitor map</a></noscript>
    </div>
  </details>
</div>
